<div ng-if="viewType=='grid'" class="product-list grid-view row ng-scope">
                <!-- ngRepeat: product in filteredProducts | orderBy:orderBy | limitTo:listLimit track by product.xid --><div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 product-wrap box-product ng-isolate-scope" product="product" ng-repeat="product in filteredProducts | orderBy:orderBy | limitTo:listLimit track by product.xid" full="true">
    <div class="product panel full" ng-class="{full: full}">
        <a ng-href="/producto/nba-2k16-xbox-360-take-2/00e7c77609" ng-transclude="" product="product" class="ng-isolate-scope" href="/producto/nba-2k16-xbox-360-take-2/00e7c77609">
        <ul class="tags ng-scope ng-isolate-scope" product="product"></ul>
        <img class="img-loading ng-scope" ng-src="//d3lfzbr90tctqz.cloudfront.net/epi/resource/r/nba-2k16-xbox-360-take-2/b2c533475a5c90dd6397cf175c859fa245ec6676442948670e9b0256c6f6c4c8_350" alt="NBA 2K16 XBOX 360 Take 2" title="NBA 2K16 XBOX 360 Take 2" src="//d3lfzbr90tctqz.cloudfront.net/epi/resource/r/nba-2k16-xbox-360-take-2/b2c533475a5c90dd6397cf175c859fa245ec6676442948670e9b0256c6f6c4c8_350">
        <h3 class="product-title ng-binding ng-scope">NBA 2K16 XBOX 360 Take 2</h3>
        <div class="clearfix prices ng-scope">
            <div class="list-price">
                <!-- ngIf: product.listPrice != null --><span class="value price-old ng-binding ng-scope" ng-if="product.listPrice != null">$1.599</span><!-- end ngIf: product.listPrice != null -->
            </div>
            <div ng-class="{\'one-price\': product.listPrice == null}" class="online-price">
                <span class="value ng-binding">$1.199</span>
            </div>
            <div ng-class="{\'one-price\': product.listPrice == null}" class="online-price div-flecha-small">
                <!-- ngIf: product.listPrice>product.price --><span class="flecha-small ng-scope" ng-if="product.listPrice>product.price"></span><!-- end ngIf: product.listPrice>product.price -->
                <!-- ngIf: product.listPrice>product.price --><span class="label ng-scope" ng-if="product.listPrice>product.price">Ahorrá <b class="ng-binding">$400</b></span><!-- end ngIf: product.listPrice>product.price -->
            </div>
            <!-- ngIf: product.listPrice>product.price --><div class="actions ng-scope" ng-if="product.listPrice>product.price">
                <!-- ngIf: product.listPrice>product.price --><div ng-class="{\'one-price\': product.listPrice == null}" ng-if="product.listPrice>product.price" class="col-xs-12 online-price div-flecha-big ng-scope">
                    <span class="label-big">Ahorrá <b class="ng-binding">$400</b></span>
                </div><!-- end ngIf: product.listPrice>product.price -->
            </div><!-- end ngIf: product.listPrice>product.price -->
            <!-- ngIf: product.preferredInstallment.installments != null --><div class="installments clearfix ng-scope" ng-if="product.preferredInstallment.installments != null">
            	<span class="label-installments"><i class="icon-credit-card"></i> Hasta <b class="ng-binding">6 cuotas s/interés</b> de <b class="ng-binding">$199</b></span>
            </div><!-- end ngIf: product.preferredInstallment.installments != null -->
        </div>
        <div class="actions btn-detail ng-scope">
            <a ng-href="/producto/nba-2k16-xbox-360-take-2/00e7c77609" ng-transclude="" product="product" class="btn btn-sm btn-buy ng-isolate-scope" href="/producto/nba-2k16-xbox-360-take-2/00e7c77609"><span class="ng-scope">Ver detalle</span></a>
        </div>
        </a>
        <div class="actions">
            <!-- ngIf: doCompare != null --><label ng-if="doCompare != null" class="compare ng-scope">
                <input type="checkbox" ng-change="doCompare()" ng-model="product.compare" class="ng-pristine ng-untouched ng-valid">Comparar
            </label><!-- end ngIf: doCompare != null -->
        </div>
    </div>
</div><!-- end ngRepeat: product in filteredProducts | orderBy:orderBy | limitTo:listLimit track by product.xid --><div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 product-wrap box-product ng-isolate-scope" product="product" ng-repeat="product in filteredProducts | orderBy:orderBy | limitTo:listLimit track by product.xid" full="true">
    <div class="product panel full" ng-class="{full: full}">
        <a ng-href="/producto/destiny-xbox-360-activision/4920a4598c" ng-transclude="" product="product" class="ng-isolate-scope" href="/producto/destiny-xbox-360-activision/4920a4598c">
        <ul class="tags ng-scope ng-isolate-scope" product="product"></ul>
        <img class="img-loading ng-scope" ng-src="//d3lfzbr90tctqz.cloudfront.net/epi/resource/r/destiny-xbox-360-activision/e8625aac78c496a04de527a138225fc4090cca648e8a3c7fd7eea94c05abdf39_350" alt="DESTINY XBOX 360 Activision" title="DESTINY XBOX 360 Activision" src="//d3lfzbr90tctqz.cloudfront.net/epi/resource/r/destiny-xbox-360-activision/e8625aac78c496a04de527a138225fc4090cca648e8a3c7fd7eea94c05abdf39_350">
        <h3 class="product-title ng-binding ng-scope">DESTINY XBOX 360 Activision</h3>
        <div class="clearfix prices ng-scope">
            <div class="list-price">
                <!-- ngIf: product.listPrice != null -->
            </div>
            <div ng-class="{\'one-price\': product.listPrice == null}" class="online-price">
                <span class="value ng-binding">$1.199</span>
            </div>
            <div ng-class="{\'one-price\': product.listPrice == null}" class="online-price div-flecha-small">
                <!-- ngIf: product.listPrice>product.price -->
                <!-- ngIf: product.listPrice>product.price -->
            </div>
            <!-- ngIf: product.listPrice>product.price -->
            <!-- ngIf: product.preferredInstallment.installments != null --><div class="installments clearfix ng-scope" ng-if="product.preferredInstallment.installments != null">
            	<span class="label-installments"><i class="icon-credit-card"></i> Hasta <b class="ng-binding">6 cuotas s/interés</b> de <b class="ng-binding">$199</b></span>
            </div><!-- end ngIf: product.preferredInstallment.installments != null -->
        </div>
        <div class="actions btn-detail ng-scope">
            <a ng-href="/producto/destiny-xbox-360-activision/4920a4598c" ng-transclude="" product="product" class="btn btn-sm btn-buy ng-isolate-scope" href="/producto/destiny-xbox-360-activision/4920a4598c"><span class="ng-scope">Ver detalle</span></a>
        </div>
        </a>
        <div class="actions">
            <!-- ngIf: doCompare != null --><label ng-if="doCompare != null" class="compare ng-scope">
                <input type="checkbox" ng-change="doCompare()" ng-model="product.compare" class="ng-pristine ng-untouched ng-valid">Comparar
            </label><!-- end ngIf: doCompare != null -->
        </div>
    </div>
</div><!-- end ngRepeat: product in filteredProducts | orderBy:orderBy | limitTo:listLimit track by product.xid --><div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 product-wrap box-product ng-isolate-scope" product="product" ng-repeat="product in filteredProducts | orderBy:orderBy | limitTo:listLimit track by product.xid" full="true">
    <div class="product panel full" ng-class="{full: full}">
        <a ng-href="/producto/battlefield-hardline-xbox-360-electronic-arts/2ecde26693" ng-transclude="" product="product" class="ng-isolate-scope" href="/producto/battlefield-hardline-xbox-360-electronic-arts/2ecde26693">
        <ul class="tags ng-scope ng-isolate-scope" product="product"></ul>
        <img class="img-loading ng-scope" ng-src="//d3lfzbr90tctqz.cloudfront.net/epi/resource/r/battlefield-hardline-xbox-360-electronic-arts/f524b5e04bf0b9b8d0bc8779e18b523f062c543c1555a867cf5e7770afff165e_350" alt="BATTLEFIELD HARDLINE XBOX 360 Electronic Arts" title="BATTLEFIELD HARDLINE XBOX 360 Electronic Arts" src="//d3lfzbr90tctqz.cloudfront.net/epi/resource/r/battlefield-hardline-xbox-360-electronic-arts/f524b5e04bf0b9b8d0bc8779e18b523f062c543c1555a867cf5e7770afff165e_350">
        <h3 class="product-title ng-binding ng-scope">BATTLEFIELD HARDLINE XBOX 360 Electronic Arts</h3>
        <div class="clearfix prices ng-scope">
            <div class="list-price">
                <!-- ngIf: product.listPrice != null --><span class="value price-old ng-binding ng-scope" ng-if="product.listPrice != null">$1.099</span><!-- end ngIf: product.listPrice != null -->
            </div>
            <div ng-class="{\'one-price\': product.listPrice == null}" class="online-price">
                <span class="value ng-binding">$999</span>
            </div>
            <div ng-class="{\'one-price\': product.listPrice == null}" class="online-price div-flecha-small">
                <!-- ngIf: product.listPrice>product.price --><span class="flecha-small ng-scope" ng-if="product.listPrice>product.price"></span><!-- end ngIf: product.listPrice>product.price -->
                <!-- ngIf: product.listPrice>product.price --><span class="label ng-scope" ng-if="product.listPrice>product.price">Ahorrá <b class="ng-binding">$100</b></span><!-- end ngIf: product.listPrice>product.price -->
            </div>
            <!-- ngIf: product.listPrice>product.price --><div class="actions ng-scope" ng-if="product.listPrice>product.price">
                <!-- ngIf: product.listPrice>product.price --><div ng-class="{\'one-price\': product.listPrice == null}" ng-if="product.listPrice>product.price" class="col-xs-12 online-price div-flecha-big ng-scope">
                    <span class="label-big">Ahorrá <b class="ng-binding">$100</b></span>
                </div><!-- end ngIf: product.listPrice>product.price -->
            </div><!-- end ngIf: product.listPrice>product.price -->
            <!-- ngIf: product.preferredInstallment.installments != null --><div class="installments clearfix ng-scope" ng-if="product.preferredInstallment.installments != null">
            	<span class="label-installments"><i class="icon-credit-card"></i> Hasta <b class="ng-binding">6 cuotas s/interés</b> de <b class="ng-binding">$166</b></span>
            </div><!-- end ngIf: product.preferredInstallment.installments != null -->
        </div>
        <div class="actions btn-detail ng-scope">
            <a ng-href="/producto/battlefield-hardline-xbox-360-electronic-arts/2ecde26693" ng-transclude="" product="product" class="btn btn-sm btn-buy ng-isolate-scope" href="/producto/battlefield-hardline-xbox-360-electronic-arts/2ecde26693"><span class="ng-scope">Ver detalle</span></a>
        </div>
        </a>
        <div class="actions">
            <!-- ngIf: doCompare != null --><label ng-if="doCompare != null" class="compare ng-scope">
                <input type="checkbox" ng-change="doCompare()" ng-model="product.compare" class="ng-pristine ng-untouched ng-valid">Comparar
            </label><!-- end ngIf: doCompare != null -->
        </div>
    </div>
</div><!-- end ngRepeat: product in filteredProducts | orderBy:orderBy | limitTo:listLimit track by product.xid --><div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 product-wrap box-product ng-isolate-scope" product="product" ng-repeat="product in filteredProducts | orderBy:orderBy | limitTo:listLimit track by product.xid" full="true">
    <div class="product panel full" ng-class="{full: full}">
        <a ng-href="/producto/dance-central-3-xbox-360-microsoft/a40c9ebdac" ng-transclude="" product="product" class="ng-isolate-scope" href="/producto/dance-central-3-xbox-360-microsoft/a40c9ebdac">
        <ul class="tags ng-scope ng-isolate-scope" product="product"></ul>
        <img class="img-loading ng-scope" ng-src="//d3lfzbr90tctqz.cloudfront.net/epi/resource/r/dance-central-3-xbox-360-microsoft/6d3efd1f57de4a422f238859f7a0e737b8e8aa88186f812218e87ea97829a929_350" alt="DANCE CENTRAL 3  XBOX 360 Microsoft" title="DANCE CENTRAL 3  XBOX 360 Microsoft" src="//d3lfzbr90tctqz.cloudfront.net/epi/resource/r/dance-central-3-xbox-360-microsoft/6d3efd1f57de4a422f238859f7a0e737b8e8aa88186f812218e87ea97829a929_350">
        <h3 class="product-title ng-binding ng-scope">DANCE CENTRAL 3  XBOX 360 Microsoft</h3>
        <div class="clearfix prices ng-scope">
            <div class="list-price">
                <!-- ngIf: product.listPrice != null --><span class="value price-old ng-binding ng-scope" ng-if="product.listPrice != null">$699</span><!-- end ngIf: product.listPrice != null -->
            </div>
            <div ng-class="{\'one-price\': product.listPrice == null}" class="online-price">
                <span class="value ng-binding">$399</span>
            </div>
            <div ng-class="{\'one-price\': product.listPrice == null}" class="online-price div-flecha-small">
                <!-- ngIf: product.listPrice>product.price --><span class="flecha-small ng-scope" ng-if="product.listPrice>product.price"></span><!-- end ngIf: product.listPrice>product.price -->
                <!-- ngIf: product.listPrice>product.price --><span class="label ng-scope" ng-if="product.listPrice>product.price">Ahorrá <b class="ng-binding">$300</b></span><!-- end ngIf: product.listPrice>product.price -->
            </div>
            <!-- ngIf: product.listPrice>product.price --><div class="actions ng-scope" ng-if="product.listPrice>product.price">
                <!-- ngIf: product.listPrice>product.price --><div ng-class="{\'one-price\': product.listPrice == null}" ng-if="product.listPrice>product.price" class="col-xs-12 online-price div-flecha-big ng-scope">
                    <span class="label-big">Ahorrá <b class="ng-binding">$300</b></span>
                </div><!-- end ngIf: product.listPrice>product.price -->
            </div><!-- end ngIf: product.listPrice>product.price -->
            <!-- ngIf: product.preferredInstallment.installments != null --><div class="installments clearfix ng-scope" ng-if="product.preferredInstallment.installments != null">
            	<span class="label-installments"><i class="icon-credit-card"></i> Hasta <b class="ng-binding">6 cuotas s/interés</b> de <b class="ng-binding">$66</b></span>
            </div><!-- end ngIf: product.preferredInstallment.installments != null -->
        </div>
        <div class="actions btn-detail ng-scope">
            <a ng-href="/producto/dance-central-3-xbox-360-microsoft/a40c9ebdac" ng-transclude="" product="product" class="btn btn-sm btn-buy ng-isolate-scope" href="/producto/dance-central-3-xbox-360-microsoft/a40c9ebdac"><span class="ng-scope">Ver detalle</span></a>
        </div>
        </a>
        <div class="actions">
            <!-- ngIf: doCompare != null --><label ng-if="doCompare != null" class="compare ng-scope">
                <input type="checkbox" ng-change="doCompare()" ng-model="product.compare" class="ng-pristine ng-untouched ng-valid">Comparar
            </label><!-- end ngIf: doCompare != null -->
        </div>
    </div>
</div><!-- end ngRepeat: product in filteredProducts | orderBy:orderBy | limitTo:listLimit track by product.xid --><div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 product-wrap box-product ng-isolate-scope" product="product" ng-repeat="product in filteredProducts | orderBy:orderBy | limitTo:listLimit track by product.xid" full="true">
    <div class="product panel full" ng-class="{full: full}">
        <a ng-href="/producto/kinect-sports-i-xbox-360-microsoft/d366520cdb" ng-transclude="" product="product" class="ng-isolate-scope" href="/producto/kinect-sports-i-xbox-360-microsoft/d366520cdb">
        <ul class="tags ng-scope ng-isolate-scope" product="product"></ul>
        <img class="img-loading ng-scope" ng-src="//d3lfzbr90tctqz.cloudfront.net/epi/resource/r/kinect-sports-i-xbox-360-microsoft/4c04b72dadf2c9b4a8cdd83cc8303aea1b31d125ebe8c59fd9a149132cb814c0_350" alt="KINECT SPORTS (I) XBOX 360 Microsoft" title="KINECT SPORTS (I) XBOX 360 Microsoft" src="//d3lfzbr90tctqz.cloudfront.net/epi/resource/r/kinect-sports-i-xbox-360-microsoft/4c04b72dadf2c9b4a8cdd83cc8303aea1b31d125ebe8c59fd9a149132cb814c0_350">
        <h3 class="product-title ng-binding ng-scope">KINECT SPORTS (I) XBOX 360 Microsoft</h3>
        <div class="clearfix prices ng-scope">
            <div class="list-price">
                <!-- ngIf: product.listPrice != null --><span class="value price-old ng-binding ng-scope" ng-if="product.listPrice != null">$699</span><!-- end ngIf: product.listPrice != null -->
            </div>
            <div ng-class="{\'one-price\': product.listPrice == null}" class="online-price">
                <span class="value ng-binding">$399</span>
            </div>
            <div ng-class="{\'one-price\': product.listPrice == null}" class="online-price div-flecha-small">
                <!-- ngIf: product.listPrice>product.price --><span class="flecha-small ng-scope" ng-if="product.listPrice>product.price"></span><!-- end ngIf: product.listPrice>product.price -->
                <!-- ngIf: product.listPrice>product.price --><span class="label ng-scope" ng-if="product.listPrice>product.price">Ahorrá <b class="ng-binding">$300</b></span><!-- end ngIf: product.listPrice>product.price -->
            </div>
            <!-- ngIf: product.listPrice>product.price --><div class="actions ng-scope" ng-if="product.listPrice>product.price">
                <!-- ngIf: product.listPrice>product.price --><div ng-class="{\'one-price\': product.listPrice == null}" ng-if="product.listPrice>product.price" class="col-xs-12 online-price div-flecha-big ng-scope">
                    <span class="label-big">Ahorrá <b class="ng-binding">$300</b></span>
                </div><!-- end ngIf: product.listPrice>product.price -->
            </div><!-- end ngIf: product.listPrice>product.price -->
            <!-- ngIf: product.preferredInstallment.installments != null --><div class="installments clearfix ng-scope" ng-if="product.preferredInstallment.installments != null">
            	<span class="label-installments"><i class="icon-credit-card"></i> Hasta <b class="ng-binding">6 cuotas s/interés</b> de <b class="ng-binding">$66</b></span>
            </div><!-- end ngIf: product.preferredInstallment.installments != null -->
        </div>
        <div class="actions btn-detail ng-scope">
            <a ng-href="/producto/kinect-sports-i-xbox-360-microsoft/d366520cdb" ng-transclude="" product="product" class="btn btn-sm btn-buy ng-isolate-scope" href="/producto/kinect-sports-i-xbox-360-microsoft/d366520cdb"><span class="ng-scope">Ver detalle</span></a>
        </div>
        </a>
        <div class="actions">
            <!-- ngIf: doCompare != null --><label ng-if="doCompare != null" class="compare ng-scope">
                <input type="checkbox" ng-change="doCompare()" ng-model="product.compare" class="ng-pristine ng-untouched ng-valid">Comparar
            </label><!-- end ngIf: doCompare != null -->
        </div>
    </div>
</div><!-- end ngRepeat: product in filteredProducts | orderBy:orderBy | limitTo:listLimit track by product.xid --><div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 product-wrap box-product ng-isolate-scope" product="product" ng-repeat="product in filteredProducts | orderBy:orderBy | limitTo:listLimit track by product.xid" full="true">
    <div class="product panel full" ng-class="{full: full}">
        <a ng-href="/producto/mad-max-xbox-one-warner-bros/49e7c335b9" ng-transclude="" product="product" class="ng-isolate-scope" href="/producto/mad-max-xbox-one-warner-bros/49e7c335b9">
        <ul class="tags ng-scope ng-isolate-scope" product="product"></ul>
        <img class="img-loading ng-scope" ng-src="//d3lfzbr90tctqz.cloudfront.net/epi/resource/r/mad-max-xbox-one-warner-bros/444498bf5d1873d67b369c603a051bfae7923ef0024c933db594476e69204216_350" alt="MAD MAX XBOX ONE WARNER BROS" title="MAD MAX XBOX ONE WARNER BROS" src="//d3lfzbr90tctqz.cloudfront.net/epi/resource/r/mad-max-xbox-one-warner-bros/444498bf5d1873d67b369c603a051bfae7923ef0024c933db594476e69204216_350">
        <h3 class="product-title ng-binding ng-scope">MAD MAX XBOX ONE WARNER BROS</h3>
        <div class="clearfix prices ng-scope">
            <div class="list-price">
                <!-- ngIf: product.listPrice != null --><span class="value price-old ng-binding ng-scope" ng-if="product.listPrice != null">$1.499</span><!-- end ngIf: product.listPrice != null -->
            </div>
            <div ng-class="{\'one-price\': product.listPrice == null}" class="online-price">
                <span class="value ng-binding">$1.199</span>
            </div>
            <div ng-class="{\'one-price\': product.listPrice == null}" class="online-price div-flecha-small">
                <!-- ngIf: product.listPrice>product.price --><span class="flecha-small ng-scope" ng-if="product.listPrice>product.price"></span><!-- end ngIf: product.listPrice>product.price -->
                <!-- ngIf: product.listPrice>product.price --><span class="label ng-scope" ng-if="product.listPrice>product.price">Ahorrá <b class="ng-binding">$300</b></span><!-- end ngIf: product.listPrice>product.price -->
            </div>
            <!-- ngIf: product.listPrice>product.price --><div class="actions ng-scope" ng-if="product.listPrice>product.price">
                <!-- ngIf: product.listPrice>product.price --><div ng-class="{\'one-price\': product.listPrice == null}" ng-if="product.listPrice>product.price" class="col-xs-12 online-price div-flecha-big ng-scope">
                    <span class="label-big">Ahorrá <b class="ng-binding">$300</b></span>
                </div><!-- end ngIf: product.listPrice>product.price -->
            </div><!-- end ngIf: product.listPrice>product.price -->
            <!-- ngIf: product.preferredInstallment.installments != null --><div class="installments clearfix ng-scope" ng-if="product.preferredInstallment.installments != null">
            	<span class="label-installments"><i class="icon-credit-card"></i> Hasta <b class="ng-binding">6 cuotas s/interés</b> de <b class="ng-binding">$199</b></span>
            </div><!-- end ngIf: product.preferredInstallment.installments != null -->
        </div>
        <div class="actions btn-detail ng-scope">
            <a ng-href="/producto/mad-max-xbox-one-warner-bros/49e7c335b9" ng-transclude="" product="product" class="btn btn-sm btn-buy ng-isolate-scope" href="/producto/mad-max-xbox-one-warner-bros/49e7c335b9"><span class="ng-scope">Ver detalle</span></a>
        </div>
        </a>
        <div class="actions">
            <!-- ngIf: doCompare != null --><label ng-if="doCompare != null" class="compare ng-scope">
                <input type="checkbox" ng-change="doCompare()" ng-model="product.compare" class="ng-pristine ng-untouched ng-valid">Comparar
            </label><!-- end ngIf: doCompare != null -->
        </div>
    </div>
</div><!-- end ngRepeat: product in filteredProducts | orderBy:orderBy | limitTo:listLimit track by product.xid --><div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 product-wrap box-product ng-isolate-scope" product="product" ng-repeat="product in filteredProducts | orderBy:orderBy | limitTo:listLimit track by product.xid" full="true">
    <div class="product panel full" ng-class="{full: full}">
        <a ng-href="/producto/nba-2k15-xbox-one-2k-games/7be5df796c" ng-transclude="" product="product" class="ng-isolate-scope" href="/producto/nba-2k15-xbox-one-2k-games/7be5df796c">
        <ul class="tags ng-scope ng-isolate-scope" product="product"></ul>
        <img class="img-loading ng-scope" ng-src="//d3lfzbr90tctqz.cloudfront.net/epi/resource/r/nba-2k15-xbox-one-2k-games/fe0c4c629e18697e025487b75f381fe66a1fe25bba8b28bc8fb792cec8217c13_350" alt="NBA 2K15 XBOX ONE 2K Games" title="NBA 2K15 XBOX ONE 2K Games" src="//d3lfzbr90tctqz.cloudfront.net/epi/resource/r/nba-2k15-xbox-one-2k-games/fe0c4c629e18697e025487b75f381fe66a1fe25bba8b28bc8fb792cec8217c13_350">
        <h3 class="product-title ng-binding ng-scope">NBA 2K15 XBOX ONE 2K Games</h3>
        <div class="clearfix prices ng-scope">
            <div class="list-price">
                <!-- ngIf: product.listPrice != null -->
            </div>
            <div ng-class="{\'one-price\': product.listPrice == null}" class="online-price">
                <span class="value ng-binding">$1.099</span>
            </div>
            <div ng-class="{\'one-price\': product.listPrice == null}" class="online-price div-flecha-small">
                <!-- ngIf: product.listPrice>product.price -->
                <!-- ngIf: product.listPrice>product.price -->
            </div>
            <!-- ngIf: product.listPrice>product.price -->
            <!-- ngIf: product.preferredInstallment.installments != null --><div class="installments clearfix ng-scope" ng-if="product.preferredInstallment.installments != null">
            	<span class="label-installments"><i class="icon-credit-card"></i> Hasta <b class="ng-binding">6 cuotas s/interés</b> de <b class="ng-binding">$183</b></span>
            </div><!-- end ngIf: product.preferredInstallment.installments != null -->
        </div>
        <div class="actions btn-detail ng-scope">
            <a ng-href="/producto/nba-2k15-xbox-one-2k-games/7be5df796c" ng-transclude="" product="product" class="btn btn-sm btn-buy ng-isolate-scope" href="/producto/nba-2k15-xbox-one-2k-games/7be5df796c"><span class="ng-scope">Ver detalle</span></a>
        </div>
        </a>
        <div class="actions">
            <!-- ngIf: doCompare != null --><label ng-if="doCompare != null" class="compare ng-scope">
                <input type="checkbox" ng-change="doCompare()" ng-model="product.compare" class="ng-pristine ng-untouched ng-valid">Comparar
            </label><!-- end ngIf: doCompare != null -->
        </div>
    </div>
</div><!-- end ngRepeat: product in filteredProducts | orderBy:orderBy | limitTo:listLimit track by product.xid --><div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 product-wrap box-product ng-isolate-scope" product="product" ng-repeat="product in filteredProducts | orderBy:orderBy | limitTo:listLimit track by product.xid" full="true">
    <div class="product panel full" ng-class="{full: full}">
        <a ng-href="/producto/forza-horizon-2-xbox-one-microsoft/f18b46e166" ng-transclude="" product="product" class="ng-isolate-scope" href="/producto/forza-horizon-2-xbox-one-microsoft/f18b46e166">
        <ul class="tags ng-scope ng-isolate-scope" product="product"></ul>
        <img class="img-loading ng-scope" ng-src="//d3lfzbr90tctqz.cloudfront.net/epi/resource/r/forza-horizon-2-xbox-one-microsoft/de2ff1c0acaa37df1837a9e306111454f086630f44c6096eb3560caf8e0c3fba_350" alt="FORZA HORIZON 2 XBOX ONE Microsoft" title="FORZA HORIZON 2 XBOX ONE Microsoft" src="//d3lfzbr90tctqz.cloudfront.net/epi/resource/r/forza-horizon-2-xbox-one-microsoft/de2ff1c0acaa37df1837a9e306111454f086630f44c6096eb3560caf8e0c3fba_350">
        <h3 class="product-title ng-binding ng-scope">FORZA HORIZON 2 XBOX ONE Microsoft</h3>
        <div class="clearfix prices ng-scope">
            <div class="list-price">
                <!-- ngIf: product.listPrice != null -->
            </div>
            <div ng-class="{\'one-price\': product.listPrice == null}" class="online-price">
                <span class="value ng-binding">$1.499</span>
            </div>
            <div ng-class="{\'one-price\': product.listPrice == null}" class="online-price div-flecha-small">
                <!-- ngIf: product.listPrice>product.price -->
                <!-- ngIf: product.listPrice>product.price -->
            </div>
            <!-- ngIf: product.listPrice>product.price -->
            <!-- ngIf: product.preferredInstallment.installments != null --><div class="installments clearfix ng-scope" ng-if="product.preferredInstallment.installments != null">
            	<span class="label-installments"><i class="icon-credit-card"></i> Hasta <b class="ng-binding">6 cuotas s/interés</b> de <b class="ng-binding">$249</b></span>
            </div><!-- end ngIf: product.preferredInstallment.installments != null -->
        </div>
        <div class="actions btn-detail ng-scope">
            <a ng-href="/producto/forza-horizon-2-xbox-one-microsoft/f18b46e166" ng-transclude="" product="product" class="btn btn-sm btn-buy ng-isolate-scope" href="/producto/forza-horizon-2-xbox-one-microsoft/f18b46e166"><span class="ng-scope">Ver detalle</span></a>
        </div>
        </a>
        <div class="actions">
            <!-- ngIf: doCompare != null --><label ng-if="doCompare != null" class="compare ng-scope">
                <input type="checkbox" ng-change="doCompare()" ng-model="product.compare" class="ng-pristine ng-untouched ng-valid">Comparar
            </label><!-- end ngIf: doCompare != null -->
        </div>
    </div>
</div><!-- end ngRepeat: product in filteredProducts | orderBy:orderBy | limitTo:listLimit track by product.xid --><div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 product-wrap box-product ng-isolate-scope" product="product" ng-repeat="product in filteredProducts | orderBy:orderBy | limitTo:listLimit track by product.xid" full="true">
    <div class="product panel full" ng-class="{full: full}">
        <a ng-href="/producto/dragon-ball-xenoverse-xbox-one-namco/eefaae4291" ng-transclude="" product="product" class="ng-isolate-scope" href="/producto/dragon-ball-xenoverse-xbox-one-namco/eefaae4291">
        <ul class="tags ng-scope ng-isolate-scope" product="product"></ul>
        <img class="img-loading ng-scope" ng-src="//d3lfzbr90tctqz.cloudfront.net/epi/resource/r/dragon-ball-xenoverse-xbox-one-namco/13275ea77e3bd61cb3be9a4bbd1cd843cac3b501d41a7d2bebc976595fb66b21_350" alt="DRAGON BALL XENOVERSE XBOX ONE Namco" title="DRAGON BALL XENOVERSE XBOX ONE Namco" src="//d3lfzbr90tctqz.cloudfront.net/epi/resource/r/dragon-ball-xenoverse-xbox-one-namco/13275ea77e3bd61cb3be9a4bbd1cd843cac3b501d41a7d2bebc976595fb66b21_350">
        <h3 class="product-title ng-binding ng-scope">DRAGON BALL XENOVERSE XBOX ONE Namco</h3>
        <div class="clearfix prices ng-scope">
            <div class="list-price">
                <!-- ngIf: product.listPrice != null -->
            </div>
            <div ng-class="{\'one-price\': product.listPrice == null}" class="online-price">
                <span class="value ng-binding">$1.599</span>
            </div>
            <div ng-class="{\'one-price\': product.listPrice == null}" class="online-price div-flecha-small">
                <!-- ngIf: product.listPrice>product.price -->
                <!-- ngIf: product.listPrice>product.price -->
            </div>
            <!-- ngIf: product.listPrice>product.price -->
            <!-- ngIf: product.preferredInstallment.installments != null --><div class="installments clearfix ng-scope" ng-if="product.preferredInstallment.installments != null">
            	<span class="label-installments"><i class="icon-credit-card"></i> Hasta <b class="ng-binding">6 cuotas s/interés</b> de <b class="ng-binding">$266</b></span>
            </div><!-- end ngIf: product.preferredInstallment.installments != null -->
        </div>
        <div class="actions btn-detail ng-scope">
            <a ng-href="/producto/dragon-ball-xenoverse-xbox-one-namco/eefaae4291" ng-transclude="" product="product" class="btn btn-sm btn-buy ng-isolate-scope" href="/producto/dragon-ball-xenoverse-xbox-one-namco/eefaae4291"><span class="ng-scope">Ver detalle</span></a>
        </div>
        </a>
        <div class="actions">
            <!-- ngIf: doCompare != null --><label ng-if="doCompare != null" class="compare ng-scope">
                <input type="checkbox" ng-change="doCompare()" ng-model="product.compare" class="ng-pristine ng-untouched ng-valid">Comparar
            </label><!-- end ngIf: doCompare != null -->
        </div>
    </div>
</div><!-- end ngRepeat: product in filteredProducts | orderBy:orderBy | limitTo:listLimit track by product.xid --><div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 product-wrap box-product ng-isolate-scope" product="product" ng-repeat="product in filteredProducts | orderBy:orderBy | limitTo:listLimit track by product.xid" full="true">
    <div class="product panel full" ng-class="{full: full}">
        <a ng-href="/producto/forza-motorsport-5-xbox-one-microsoft/343574977c" ng-transclude="" product="product" class="ng-isolate-scope" href="/producto/forza-motorsport-5-xbox-one-microsoft/343574977c">
        <ul class="tags ng-scope ng-isolate-scope" product="product"></ul>
        <img class="img-loading ng-scope" ng-src="//d3lfzbr90tctqz.cloudfront.net/epi/resource/r/forza-motorsport-5-xbox-one-microsoft/e854a8021f21b71ff4fba9528ff06657c9bc56857e167b6f39d950b50c347ad7_350" alt="FORZA MOTORSPORT 5 XBOX ONE Microsoft" title="FORZA MOTORSPORT 5 XBOX ONE Microsoft" src="//d3lfzbr90tctqz.cloudfront.net/epi/resource/r/forza-motorsport-5-xbox-one-microsoft/e854a8021f21b71ff4fba9528ff06657c9bc56857e167b6f39d950b50c347ad7_350">
        <h3 class="product-title ng-binding ng-scope">FORZA MOTORSPORT 5 XBOX ONE Microsoft</h3>
        <div class="clearfix prices ng-scope">
            <div class="list-price">
                <!-- ngIf: product.listPrice != null --><span class="value price-old ng-binding ng-scope" ng-if="product.listPrice != null">$1.399</span><!-- end ngIf: product.listPrice != null -->
            </div>
            <div ng-class="{\'one-price\': product.listPrice == null}" class="online-price">
                <span class="value ng-binding">$799</span>
            </div>
            <div ng-class="{\'one-price\': product.listPrice == null}" class="online-price div-flecha-small">
                <!-- ngIf: product.listPrice>product.price --><span class="flecha-small ng-scope" ng-if="product.listPrice>product.price"></span><!-- end ngIf: product.listPrice>product.price -->
                <!-- ngIf: product.listPrice>product.price --><span class="label ng-scope" ng-if="product.listPrice>product.price">Ahorrá <b class="ng-binding">$600</b></span><!-- end ngIf: product.listPrice>product.price -->
            </div>
            <!-- ngIf: product.listPrice>product.price --><div class="actions ng-scope" ng-if="product.listPrice>product.price">
                <!-- ngIf: product.listPrice>product.price --><div ng-class="{\'one-price\': product.listPrice == null}" ng-if="product.listPrice>product.price" class="col-xs-12 online-price div-flecha-big ng-scope">
                    <span class="label-big">Ahorrá <b class="ng-binding">$600</b></span>
                </div><!-- end ngIf: product.listPrice>product.price -->
            </div><!-- end ngIf: product.listPrice>product.price -->
            <!-- ngIf: product.preferredInstallment.installments != null --><div class="installments clearfix ng-scope" ng-if="product.preferredInstallment.installments != null">
            	<span class="label-installments"><i class="icon-credit-card"></i> Hasta <b class="ng-binding">6 cuotas s/interés</b> de <b class="ng-binding">$133</b></span>
            </div><!-- end ngIf: product.preferredInstallment.installments != null -->
        </div>
        <div class="actions btn-detail ng-scope">
            <a ng-href="/producto/forza-motorsport-5-xbox-one-microsoft/343574977c" ng-transclude="" product="product" class="btn btn-sm btn-buy ng-isolate-scope" href="/producto/forza-motorsport-5-xbox-one-microsoft/343574977c"><span class="ng-scope">Ver detalle</span></a>
        </div>
        </a>
        <div class="actions">
            <!-- ngIf: doCompare != null --><label ng-if="doCompare != null" class="compare ng-scope">
                <input type="checkbox" ng-change="doCompare()" ng-model="product.compare" class="ng-pristine ng-untouched ng-valid">Comparar
            </label><!-- end ngIf: doCompare != null -->
        </div>
    </div>
</div><!-- end ngRepeat: product in filteredProducts | orderBy:orderBy | limitTo:listLimit track by product.xid --><div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 product-wrap box-product ng-isolate-scope" product="product" ng-repeat="product in filteredProducts | orderBy:orderBy | limitTo:listLimit track by product.xid" full="true">
    <div class="product panel full" ng-class="{full: full}">
        <a ng-href="/producto/minecraft-xbox-one-microsoft/7d216793a7" ng-transclude="" product="product" class="ng-isolate-scope" href="/producto/minecraft-xbox-one-microsoft/7d216793a7">
        <ul class="tags ng-scope ng-isolate-scope" product="product"></ul>
        <img class="img-loading ng-scope" ng-src="//d3lfzbr90tctqz.cloudfront.net/epi/resource/r/minecraft-xbox-one-microsoft/f2d72bbd4f93e7d97af7f91a828cdfd9932de09ebe243b81fa4a1a15eb0516d4_350" alt="MINECRAFT XBOX ONE Microsoft" title="MINECRAFT XBOX ONE Microsoft" src="//d3lfzbr90tctqz.cloudfront.net/epi/resource/r/minecraft-xbox-one-microsoft/f2d72bbd4f93e7d97af7f91a828cdfd9932de09ebe243b81fa4a1a15eb0516d4_350">
        <h3 class="product-title ng-binding ng-scope">MINECRAFT XBOX ONE Microsoft</h3>
        <div class="clearfix prices ng-scope">
            <div class="list-price">
                <!-- ngIf: product.listPrice != null --><span class="value price-old ng-binding ng-scope" ng-if="product.listPrice != null">$699</span><!-- end ngIf: product.listPrice != null -->
            </div>
            <div ng-class="{\'one-price\': product.listPrice == null}" class="online-price">
                <span class="value ng-binding">$599</span>
            </div>
            <div ng-class="{\'one-price\': product.listPrice == null}" class="online-price div-flecha-small">
                <!-- ngIf: product.listPrice>product.price --><span class="flecha-small ng-scope" ng-if="product.listPrice>product.price"></span><!-- end ngIf: product.listPrice>product.price -->
                <!-- ngIf: product.listPrice>product.price --><span class="label ng-scope" ng-if="product.listPrice>product.price">Ahorrá <b class="ng-binding">$100</b></span><!-- end ngIf: product.listPrice>product.price -->
            </div>
            <!-- ngIf: product.listPrice>product.price --><div class="actions ng-scope" ng-if="product.listPrice>product.price">
                <!-- ngIf: product.listPrice>product.price --><div ng-class="{\'one-price\': product.listPrice == null}" ng-if="product.listPrice>product.price" class="col-xs-12 online-price div-flecha-big ng-scope">
                    <span class="label-big">Ahorrá <b class="ng-binding">$100</b></span>
                </div><!-- end ngIf: product.listPrice>product.price -->
            </div><!-- end ngIf: product.listPrice>product.price -->
            <!-- ngIf: product.preferredInstallment.installments != null --><div class="installments clearfix ng-scope" ng-if="product.preferredInstallment.installments != null">
            	<span class="label-installments"><i class="icon-credit-card"></i> Hasta <b class="ng-binding">6 cuotas s/interés</b> de <b class="ng-binding">$99</b></span>
            </div><!-- end ngIf: product.preferredInstallment.installments != null -->
        </div>
        <div class="actions btn-detail ng-scope">
            <a ng-href="/producto/minecraft-xbox-one-microsoft/7d216793a7" ng-transclude="" product="product" class="btn btn-sm btn-buy ng-isolate-scope" href="/producto/minecraft-xbox-one-microsoft/7d216793a7"><span class="ng-scope">Ver detalle</span></a>
        </div>
        </a>
        <div class="actions">
            <!-- ngIf: doCompare != null --><label ng-if="doCompare != null" class="compare ng-scope">
                <input type="checkbox" ng-change="doCompare()" ng-model="product.compare" class="ng-pristine ng-untouched ng-valid">Comparar
            </label><!-- end ngIf: doCompare != null -->
        </div>
    </div>
</div><!-- end ngRepeat: product in filteredProducts | orderBy:orderBy | limitTo:listLimit track by product.xid --><div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 product-wrap box-product ng-isolate-scope" product="product" ng-repeat="product in filteredProducts | orderBy:orderBy | limitTo:listLimit track by product.xid" full="true">
    <div class="product panel full" ng-class="{full: full}">
        <a ng-href="/producto/assassins-creed-unity-xbox-one-ubisoft/0b8ae39d6f" ng-transclude="" product="product" class="ng-isolate-scope" href="/producto/assassins-creed-unity-xbox-one-ubisoft/0b8ae39d6f">
        <ul class="tags ng-scope ng-isolate-scope" product="product"></ul>
        <img class="img-loading ng-scope" ng-src="//d3lfzbr90tctqz.cloudfront.net/epi/resource/r/assassins-creed-unity-xbox-one-ubisoft/26eecc6cf9590ea1c645d65f98a8ba57f71a6be0779d2c609de2796fdd78f3d7_350" alt="ASSASSIN'S CREED UNITY XBOX ONE UBISOFT" title="ASSASSIN'S CREED UNITY XBOX ONE UBISOFT" src="//d3lfzbr90tctqz.cloudfront.net/epi/resource/r/assassins-creed-unity-xbox-one-ubisoft/26eecc6cf9590ea1c645d65f98a8ba57f71a6be0779d2c609de2796fdd78f3d7_350">
        <h3 class="product-title ng-binding ng-scope">ASSASSIN'S CREED UNITY XBOX ONE UBISOFT</h3>
        <div class="clearfix prices ng-scope">
            <div class="list-price">
                <!-- ngIf: product.listPrice != null -->
            </div>
            <div ng-class="{\'one-price\': product.listPrice == null}" class="online-price">
                <span class="value ng-binding">$1.299</span>
            </div>
            <div ng-class="{\'one-price\': product.listPrice == null}" class="online-price div-flecha-small">
                <!-- ngIf: product.listPrice>product.price -->
                <!-- ngIf: product.listPrice>product.price -->
            </div>
            <!-- ngIf: product.listPrice>product.price -->
            <!-- ngIf: product.preferredInstallment.installments != null --><div class="installments clearfix ng-scope" ng-if="product.preferredInstallment.installments != null">
            	<span class="label-installments"><i class="icon-credit-card"></i> Hasta <b class="ng-binding">6 cuotas s/interés</b> de <b class="ng-binding">$216</b></span>
            </div><!-- end ngIf: product.preferredInstallment.installments != null -->
        </div>
        <div class="actions btn-detail ng-scope">
            <a ng-href="/producto/assassins-creed-unity-xbox-one-ubisoft/0b8ae39d6f" ng-transclude="" product="product" class="btn btn-sm btn-buy ng-isolate-scope" href="/producto/assassins-creed-unity-xbox-one-ubisoft/0b8ae39d6f"><span class="ng-scope">Ver detalle</span></a>
        </div>
        </a>
        <div class="actions">
            <!-- ngIf: doCompare != null --><label ng-if="doCompare != null" class="compare ng-scope">
                <input type="checkbox" ng-change="doCompare()" ng-model="product.compare" class="ng-pristine ng-untouched ng-valid">Comparar
            </label><!-- end ngIf: doCompare != null -->
        </div>
    </div>
</div><!-- end ngRepeat: product in filteredProducts | orderBy:orderBy | limitTo:listLimit track by product.xid -->
            </div>